.example-section {
    background-color: $darkgrey;
}
.example-section__wrapper {
    margin: 0 auto;
}
.example-section__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}
.example-section__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.example__stats-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}