.form-group--owner__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}
.form--owner__list {
    list-style-type: none;
}
.item-name__meaning {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $darkgrey-text;
}