.show-more__text_large {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black-text;
}
.show-more__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $darkgrey-text;
}
.show-more-button {
    background-color: $grey;
    color: $darkgrey-text;
}