
body {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
